@import url("https://fonts.googleapis.com/css?family=Barlow:400,700,900|Roboto:400,500");
html {
  font-size: 70%; }

@-webkit-keyframes fromLeft {
  0% {
    opacity: 0;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  40% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    opacity: 1; }
  100% {
    left: 40rem;
    opacity: .5;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

@keyframes fromLeft {
  0% {
    opacity: 0;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  40% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    opacity: 1; }
  100% {
    left: 40rem;
    opacity: .5;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.landing {
  height: 100vh; }
  .landing__bg-circle--1 {
    z-index: 10;
    position: absolute;
    top: 37%;
    left: -5%;
    width: 10rem;
    height: 10rem;
    background: #B3FFAB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #1169b6, #1badd7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #1169b6, #1badd7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100%; }
  .landing__bg-circle--2 {
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 8%;
    width: 3rem;
    height: 3rem;
    background: #6aff7f;
    border-radius: 100%; }
  .landing__svg-bg {
    position: absolute;
    top: 50%;
    left: 75%;
    height: 20rem;
    width: 20rem; }
  .landing__title {
    z-index: 10000;
    position: absolute;
    top: 47%;
    left: 20%;
    transform: translateY(-50%); }
    .landing__title--sub {
      font-family: "Barlow", sans-serif;
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: .5rem;
      text-transform: uppercase;
      color: white;
      width: 33rem;
      letter-spacing: .5rem;
      background-color: #1b2550;
      height: 100%;
      padding-left: .5rem;
      display: flex;
      align-items: center; }
      .landing__title--sub span {
        width: 76%;
        display: block; }
      .landing__title--sub-brick-1 {
        height: 2.4rem;
        width: 3%;
        background-color: #33cbcc; }
      .landing__title--sub-brick-2 {
        height: 2.4rem;
        width: 21%;
        background-color: #6aff7f; }
    .landing__title--main {
      font-family: "Barlow", sans-serif;
      font-weight: 900;
      font-size: 6rem;
      text-transform: uppercase; }

.dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: linear-gradient(to right, #1b2550 33%, #33cbcc 33%, #33cbcc 66%, #6aff7f 66%);
  position: absolute;
  top: 77%;
  left: 101%; }

.nav-background {
  width: 100%;
  padding: 2rem;
  position: fixed;
  z-index: 99000;
  background-color: rgba(255, 255, 255, 0.849); }

.nav {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  position: fixed;
  z-index: 100000;
  align-items: center;
  padding-bottom: 2rem;
  transition: all .3s; }
  .nav__logo {
    margin-left: 2rem; }
  .nav__items {
    margin-left: auto;
    margin-right: 1rem; }
    .nav__items a {
      text-decoration: none;
      color: #606372;
      text-transform: uppercase;
      font-family: "Barlow", sans-serif;
      text-decoration-color: #1b2550;
      transition: all 1s; }
      .nav__items a:hover {
        text-decoration: line-through; }
      .nav__items a:not(:last-child) {
        margin-right: .8rem; }
  .nav__social {
    margin-right: 2rem; }
    .nav__social a {
      text-decoration: none; }
      .nav__social a:not(:last-child) {
        margin-right: .6rem; }
    .nav__social svg {
      fill: "Barlow", sans-serif;
      height: 1rem;
      width: 1rem;
      cursor: pointer; }
      .nav__social svg:not(:last-child) {
        margin-right: .6rem; }

.shrink {
  padding-top: .1rem;
  padding-bottom: .1rem;
  transition: all .3s; }
  .shrink__items {
    margin-left: auto;
    margin-right: 1rem; }
    .shrink__items a {
      font-size: .9rem;
      text-decoration: none;
      color: #606372;
      text-transform: uppercase;
      font-family: "Barlow", sans-serif;
      text-decoration-color: #1b2550;
      transition: all 1s; }
      .shrink__items a:hover {
        text-decoration: line-through; }
      .shrink__items a:not(:last-child) {
        margin-right: .8rem; }
  .shrink__social {
    margin-right: 6rem; }
    .shrink__social svg {
      fill: "Barlow", sans-serif;
      height: .8rem;
      width: .8rem;
      cursor: pointer; }
      .shrink__social svg:not(:last-child) {
        margin-right: .6rem; }

.hide {
  visibility: hidden;
  opacity: 0;
  transition: all .3s; }

.show {
  visibility: visible;
  opacity: 1;
  transition: all .3s; }

.about {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
  background-attachment: fixed;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ }
  .about__heading--main {
    font-size: 4rem;
    line-height: 7rem;
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
    font-weight: 700; }
  .about__heading--subtitle {
    font-size: 2rem;
    font-family: "Roboto", sans-serif; }
  .about__content--first-text {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    letter-spacing: .05rem; }
  .about__content--heading1 {
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    font-size: 2rem;
    font-weight: 700; }
  .about__content--codestatsLink p {
    font-size: 1.5rem;
    font-family: "Barlow", sans-serif; }
  .about__content--codestatsLink a {
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: crimson;
    margin-left: 1rem;
    display: block;
    width: 6.5rem;
    padding: .5rem;
    margin: 0 auto;
    margin-top: 1rem;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .about__content--codestatsLink a:hover {
      -webkit-transform: rotate(-5deg) scale(1.3);
      -ms-transform: rotate(-5deg) scale(1.3);
      transform: rotate(-5deg) scale(1.3);
      -webkit-box-shadow: 0 1rem 2rem rgba(1, 1, 1, 0.4);
      box-shadow: 0 1rem 2rem rgba(1, 1, 1, 0.4); }
  .about__content--chart {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 2rem; }
  .about__content--githubHeading {
    margin-top: 3rem; }
    .about__content--githubHeading span {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "Barlow", sans-serif; }
    .about__content--githubHeading a {
      text-decoration: none;
      font-family: "Barlow", sans-serif;
      text-transform: uppercase;
      color: white;
      background-color: crimson;
      margin-left: 1rem;
      display: block;
      width: 6.5rem;
      padding: .5rem;
      margin: 0 auto;
      margin-top: 1rem;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .about__content--githubHeading a:hover {
        -webkit-transform: rotate(-5deg) scale(1.3);
        -ms-transform: rotate(-5deg) scale(1.3);
        transform: rotate(-5deg) scale(1.3);
        -webkit-box-shadow: 0 1rem 2rem rgba(1, 1, 1, 0.4);
        box-shadow: 0 1rem 2rem rgba(1, 1, 1, 0.4); }

.showcase {
  max-width: 96rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #1b2550; }
  .showcase__title {
    font-size: 6rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
    letter-spacing: 1rem;
    padding-left: 1rem;
    font-weight: 700;
    padding-bottom: 2rem; }
  .showcase__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -40rem;
    opacity: 0; }
  .showcase__item {
    display: block;
    position: relative;
    text-align: center;
    max-width: 38rem;
    margin: 0 auto;
    z-index: 1000;
    margin-bottom: 25rem; }
    .showcase__item:not(:first-child) {
      margin-top: 20rem; }
    .showcase__item--main-title {
      font-size: 6rem;
      text-transform: uppercase;
      font-family: "Barlow", sans-serif;
      font-weight: 700;
      cursor: pointer;
      color: black;
      z-index: 10000;
      -webkit-text-fill-color: black;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white; }
      .showcase__item--main-title a {
        text-decoration: none;
        -webkit-text-fill-color: transparent;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white; }
        .showcase__item--main-title a:hover {
          color: white;
          -webkit-text-fill-color: white;
          /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: transparent; }
    .showcase__item--subtitle {
      font-size: 1.3rem;
      position: absolute;
      top: 20rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-text-fill-color: white;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 0px;
      -webkit-text-stroke-color: transparent; }

.fix-weather {
  top: 14rem; }

.fix-wiki {
  top: 8rem; }

.heading:hover + .showcase__image {
  -webkit-animation: fromLeft 8s cubic-bezier(0, 0.78, 1, 0.13) 0.5s;
  animation: fromLeft 8s cubic-bezier(0, 0.78, 1, 0.13) 0.5s; }

.heading:hover ~ .showcase__item--subtitle {
  font-size: 0; }

.heading:hover ~ .showcase__item--subtitle::after {
  content: attr(data-hover);
  font-size: 1.5rem; }
