@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Roboto:400,500');

$main-title-font: 'Barlow', sans-serif;
$sub-title-font: 'Roboto', sans-serif;

$color-white: rgb(255, 255, 255);
$color-blue-dark: rgb(27, 37, 80);
$color-blue-neon: rgb(51, 203, 204);
$color-green-neon: rgb(106, 255, 127);
$color-purple-dark: rgb(38, 31, 129);
$color-purple-light: rgb(193, 81, 135);
$color-red-neon: rgb(255, 1, 1);
$color-yellow-neon: rgb(243,243,21);

$color-grey-light: #606372;
html{
    font-size: 70%;
    font-family: $main-title-font;
}

@import "animations";
@import "reset";
@import "landing";
@import "nav";
@import "utilities";
@import "about";
@import "showcase";
@import "contacts";